<div class="ui relaxed item">
    <div class="ui tiny image">
        {% if repository.owner.avatarUrl is not null %}
            <img src="{{ repository.owner.avatarUrl }}">
        {% endif %}
    </div>
    <div class="content aligned left">
        <a class="header">{{ repository.nameWithOwner }}</a>
        <div class="meta">
            <span class="cinema">{{ repository.description }}</span>
            <span class="cinema">Last release: {{ repository.latestRelease.publishedAt ? repository.latestRelease.publishedAt|date('Y-m-d') }}</span><br>
        </div>
        <div class="description">
            <p></p>
        </div>
        <div class="extra">
            <div class="ui label"><i class="star icon"></i> {{ repository.stargazers.totalCount }} stars</div>
            <div class="ui label">{{ repository.watchers.totalCount }} watchers</div>
            <div class="ui label">{{ repository.forks.totalCount }} forks</div>
        </div>
    </div>
</div>
<div class="ui statistic">
    <div class="value" id="openPullRequests">
        {{ repository.openpullRequests.totalCount }}
    </div>
    <div class="label">
        Open pull requests
    </div>
</div>
<div class="ui statistic">
    <div class="value" id="closedPullRequests">
        {{ repository.closedpullRequests.totalCount }}
    </div>
    <div class="label">
        Closed pull requests
    </div>
</div>